
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-yahoo:before { content: '\f19e'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */